<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <table class="table">
        <h1>City</h1>

        <thead>
        <tr>
            <th>Id: </th>
            <th>City name: </th>
            <th>City hotels: </th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="city : ${cities}">

            <td th:text="${city.id}">1</td>
            <td th:text="${city.name}">Mars Alam</td>
            <td th:text="${city.country.name}">Excellent</td>



<!--            <td>-->
<!--                <a th:href="@{/trips/{id}/(id=${trip.id})}">Więcej...</a>-->
<!--            </td>-->
        </tr>

        </tbody>
    </table>
</head>
<body>

</body>
</html>