<!DOCTYPE html>
<html lang="pl"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<center>
<img alt="a" th:src="@{/images/d.jpg}" src="../static/images/d.jpg">

<p><a th:href="@{/login}">Login</a></p>

<p><a th:href="@{/mainPage}">Main-Page</a></p>
</center>


</body>
</html>