<!DOCTYPE html>
<html lang="pl"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<center><h1>Welcome in My_Dream_Holidays</h1></center>

    <p><a th:href="@{/threePromoted}">Three_Promoted_Trips</a></p>

    <p><a th:href="@{/threeClosest}">Three_Closest_Trips</a></p>

    <p><a th:href="@{/trips}">All_Available_Trips</a></p>

    <p><a th:href="@{/threeClosestTripsForEveryContinent}">Three_Closest_Trips_For_Every_Continent</a></p>

    <p><a th:href="@{/threeClosestTripsFromAllContinents}">Closest_Trips_For_All_Continents</a></p>

    <p><a th:href="@{/threeClosestTripsFromAllCountry}">Closest_Trips_Sorted_For_All_Countries</a></p>

</body>
<p><a th:href="@{/}">Home</a></p>
</html>